@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.container {
  width: 800px;
  background-color: #ddd;
  margin: 20px auto;
  height: 100vh;
  padding: 30px;
  text-align: center;
}

.container .todo-input {
  margin-bottom: 50px;
}

.container .todo-input input {
  width: 50%;
  padding: 9px 20px;
  background-color: #ccc;
  border-radius: 50px;
  outline: none;
  border: 1px solid;
}
.container .todo-input button:disabled {
  background-color: rgba(33, 150, 243, 0.7);
  pointer-events: none;
}
.container .todo-input button {
  margin-left: 20px;
  padding: 10px 30px;
  background-color: rgba(33, 150, 243, 1);
  color: #fff;
  font-weight: 400;
  border-radius: 50px;
  font-family: "Montserrat";
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.container .todo-content .no-item {
  background-color: #fff;
  font-weight: bold;
  padding: 20px;
}

.container .item-container {
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
}
.container .item-container span {
  float: left;
  line-height: 36px;
  cursor: pointer;
}
.container .item-container button {
  float: right;
  padding: 10px 30px;
  background-color: rgba(33, 150, 243, 0.7);
  color: #fff;
  font-weight: 400;
  border-radius: 50px;
  font-family: "Montserrat";
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}
.container .item-container button:hover {
  background-color: rgba(33, 150, 243, 1);
}

.container .item-container span.finished {
  text-decoration: line-through;
}
